@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #acffdd 0%, #c3cfe2 100%);
  font-family: "Young serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  position: absolute;
  top: 10px;
}

.range-container {
  position: relative;
}

input[type="range"] {
  width: 400px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type="range"] + label {
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 130px;
  width: 80px;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background-color: rgb(128, 0, 58);
  cursor: pointer;
  height: 10px;
  border-radius: 4px;
}
